.mdc-layout__header {
    min-height: inherit;
}
.mdc-layout__drawer-button {
    height: auto;
    line-height: 1;
    padding: 7px 5px 7px 5px;
    width: auto;
}
.mdc-layout__header-row {
    height: auto;
}
.mdc-layout__header-row .mdc-button {
    margin: 5px 0px 5px 5px;
}
.mdc-list__item {
    padding: 8px;
}
.mdc-list__item a:link, .mdc-list__item a:visited {
    cursor: pointer;
    display: block;
    padding: 8px;
    text-decoration: none;
    width: 100%;
}
.mdc-list__item a:hover {
    background-color: #e0e0e0;
}
.mdc-layout-grid {
    width: inherit;
}
.mdc-card {
    min-height: inherit;
}
.mdc-card[dir="rtl"] {
    text-align: right;
}
.mdc-card__primary {
    color: #757575;
    display: block;
    padding: 8px;
}
.mdc-card__primary .mdc-card__title {
    font-size: 16px;
    margin-bottom: 4px;
}
.mdc-card[dir="rtl"] .mdc-card__primary .mdc-card__title {
    display: block;
    text-align: right;
}
.mdc-card .mdc-card__actions {
    text-align: right;
}
.mdc-button {
    padding: 0px 8px;
    min-width: inherit;
}
.mdc-button:focus:not(:active) {
    background-color: transparent;
}
.mdc-card__supporting-text {
    padding: 0px 8px 8px 8px;
    width: auto;
}
.mdc-card .mdc-navigation__link {
    float: left;
    font-weight: inherit;
    line-height: 1;
    margin: 4px 4px 4px 0px;
    white-space: nowrap;
}
.mdc-card[dir="rtl"] .mdc-navigation__link {
    float: right;
    margin: 4px 0px 4px 4px;
}
.mdc-menu__item {
    height: 16px;
    line-height: 16px;
    padding: 8px 4px;
}
.mdc-menu__item a:link, .mdc-menu__item a:visited {
    text-decoration: none;
}
.mdc-card__supporting-text h1 {
    font-size: 17px;
    line-height: 1;
    margin: 15px 0px;
}
.mdc-card__supporting-text h2 {
    font-size: 16px;
    line-height: 1;
    margin: 10px 0px;
}
.mdc-card__supporting-text h3 {
    font-size: 15px;
    line-height: 1;
    margin: 10px 0px;
}
.mdc-card__supporting-text h4 {
    font-size: 14px;
    line-height: 1;
    margin: 10px 0px;
}
.mdc-card__supporting-text h5 {
    font-size: 13px;
    line-height: 1;
    margin: 10px 0px;
}
.mdc-card__supporting-text h6 {
    font-size: 12px;
    line-height: 1;
    margin: 10px 0px;
}
.mdc-card__supporting-text p {
    clear: both;
    line-height: 1.5;
    margin: 5px 0px;
}
.mdc-card__supporting-text em {
    font-style: italic;
}
.mdc-card__supporting-text strong {
    font-weight: bold;
}
.mdc-card__supporting-text blockquote {
    -webkit-margin-start: 10px;
    font-size: inherit;
}
.mdc-card__supporting-text blockquote:before {
    content: none;
}
.mdc-card__supporting-text blockquote:after {
    content: none;
}
.mdc-dialog__content {
    padding: 0px;
    text-align: left;
}
.mdc-navigation .mdc-button {
    overflow: visible;
}
.mdc-navigation .mdc-badge[data-badge]:after {
    font-size: 11px;
    right: -5px;
    top: -5px;
}

.favicon, a.favicon:link, a.favicon:visited {
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    padding-left: 16px;
}
.mdc-card[dir="rtl"] .favicon, .mdc-card[dir="rtl"] a.favicon:link, .mdc-card[dir="rtl"] a.favicon:visited {
    background-position: center right;
    padding-left: 0px;
    padding-right: 16px;
}
h1 .favicon, h1.favicon, h1 a.favicon:link, h1 a.favicon:visited {
    background-size: 16px 16px;
    padding-left: 19px;
}
.mdc-card[dir="rtl"] h1 .favicon, .mdc-card[dir="rtl"] h1.favicon, .mdc-card[dir="rtl"] h1 a.favicon:link, .mdc-card[dir="rtl"] h1 a.favicon:visited {
    padding-left: 0px;
    padding-right: 19px;
}

.material-icons {
    font-feature-settings: 'liga';
    text-rendering: optimizeLegibility;
    vertical-align: middle;
}
.mdc-card .material-icons {
    font-size: 16px;
    margin-right: 2px;
}
.mdc-card[dir="rtl"] .material-icons {
    margin-left: 2px;
    margin-right: 0px;
}

a:link, a:visited {
    color: #757575;
}
img, iframe, video {
    max-width: 100%;
}
figure {
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
label, .label {
    display: block;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="url"], textarea {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    border-radius: 0px;
    color: inherit;
    display: block;
    font-size: inherit;
    padding: 4px 0;
    text-align: left;
    width: 100%;
}
textarea {
    min-height: 250px;
}
input[type="text"][required="required"], input[type="email"][required="required"], input[type="password"][required="required"], input[type="url"][required="required"], textarea[required="required"] {
    border-color: #d50000;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0px 0px 0px 1000px #FFFFFF inset;
}

body.anonymous .connected {
    display: none;
}
body.connected .anonymous {
    display: none;
}

body.online .offline {
    display: none;
}
body.offline .online {
    display: none;
}

body.not_administrator .administrator {
    display: none;
}
body.administrator .not_administrator {
    display: none;
}

body.no_entries .action-down, body.no_entries .action-up {
    display: none;
}

body.collapse .mdc-card__supporting-text {
    display: none;
}

body .mdc-card.collapse .mdc-card__supporting-text {
    display: none;
}

body .mdc-card.expand .mdc-card__supporting-text {
    display: block;
}
